[submodule "src/main/antlr4"]
	path = src/main/antlr4
	url = git@github.com:LightJason/AgentSpeak.git
[submodule "src/codestyle"]
	path = src/codestyle
	url = git@github.com:LightJason/Java-CodeStyle.git
[submodule "src/test/java/org/lightjason/agentspeak/testing"]
	path = src/test/java/org/lightjason/agentspeak/testing
	url = git@github.com:LightJason/Java-Testing.git
