*.*

!.gitignore
!circle.yml
!pom.xml
!*.java
!*.g4
!*.asl
!*.md
!*.png
!*.properties

!src/main/documentation/*.doxyfile
!src/main/documentation/*.htm
!src/main/documentation/*.css

!src/main/styleguide/**/*.xml

src/main/antlr4/lightjason/grammar/AgentSpeak.g4
src/main/antlr4/lightjason/grammar/Terminal.g4
target/**
