*.*

!.gitignore
!.travis.yml
!circle.yml
!pom.xml
!*.java
!*.g4
!*.asl
!*.md
!*.png
!*.properties

!src/main/documentation/*.doxyfile
!src/main/documentation/*.htm
!src/main/documentation/*.css

!src/main/styleguide/**/*.xml
!src/main/styleguide/**/*.txt
!src/main/styleguide/**/*.md

src/main/antlr4/org/lightjason/agentspeak/grammar/AgentSpeak.g4
src/main/antlr4/org/lightjason/agentspeak/grammar/Terminal.g4
src/main/antlr4/org/lightjason/agentspeak/grammar/ComplexType.g4
target/**
